<h1>Dashboard</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" id="panel-title">
    	Panel title
    	<a class="anchorjs-link" href="#panel-title">
    		<span class="anchorjs-icon"></span>
    	</a>
    </h3>
  </div>
  <div class="panel-body">

	<div class="row show-grid">
      
      <div class="col-sm-2 ">
        <div class="panel panel-default text-center">
        	<div class="panel-heading">
        		<b>User:</b> Techfano
        	</div>
			<div class="panel-body">
        		<img  src="http://icons.iconarchive.com/icons/harwen/simple/256/PNG-Image-icon.png" height="64" width="64" alt="">
			</div>
			<div class="panel-heading">
        		<b>File:</b> Image.png
        	</div>
		</div>
      </div>
    
    </div>  	

  </div>
</div>